@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: cornsilk;
}
.box {
  border-radius: 10px;
  background: white;
  width: 100%;
  height: 100%;

  display: grid;
grid-template-columns: auto/auto (repeat, 5fr);}
main {
  position: relative;
  border: 30px solid black;
  width: 50vw;
  height: 80vh;
}
.die{
  border-radius: 10px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
  height: 50px;
}
.die.green-bg{
  background-color: green;
}
